<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Shurik_QuickOrder::order" sortOrder="10" title="order">
					<resource id="Shurik_QuickOrder::order_save" sortOrder="10" title="Save order"/>
					<resource id="Shurik_QuickOrder::order_delete" sortOrder="20" title="Delete order"/>
					<resource id="Shurik_QuickOrder::order_update" sortOrder="30" title="Update order"/>
					<resource id="Shurik_QuickOrder::order_view" sortOrder="40" title="View order"/>
					<resource id="Shurik_QuickOrder::mass_delete" title="Mass Delete" translate="title" sortOrder="50"/>
				</resource>
				<resource id="Shurik_QuickOrder::status" sortOrder="10" title="status">
					<resource id="Shurik_QuickOrder::status_save" sortOrder="10" title="Save status"/>
					<resource id="Shurik_QuickOrder::status_delete" sortOrder="20" title="Delete status"/>
					<resource id="Shurik_QuickOrder::status_update" sortOrder="30" title="Update status"/>
					<resource id="Shurik_QuickOrder::status_view" sortOrder="40" title="View status"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
